

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center
}

.principal {
    background: #CCCCCC;
    padding: 30px;
}

#banner {
    width:100%;
}


p {
    text-align: center;
}

#missao {
    font-size: 21px;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens {
    font-style: italic;
}

.imagem-beneficios {
    width: 40%;
}

em strong {
    color: #FF0000;
}
Footer
